html, body {
	
	min-height: 100vh;
    min-width: 100vw;

}

body {

   background-image: url('../images/background1.jpg');
   background-size: cover;


}

button {

	border-radius: 10px;
	font-family: 'Iceberg', cursive;
	font-size: 2em;
}

li {

	list-style-type: none;
}

.container {

	display: inline-block;
    height: auto;
    margin-left: 12%;
    margin-right: 12%;
    margin-bottom: 12%;
    width: 50%;
    padding: 2vh;
	border-radius: 8px;
	border:solid black 1px;

}

.scoreBox {

	display: inline-block;
    height: auto;
    margin-left: 12%;
    margin-right: 12%;
    margin-bottom: 12%;
    width: 50%;
    padding:2vh;
	font-size: 2vw;

}

p, .question, .answerChoices, .question-timer, .correct, .incorrect {
	
	font-family: 'Iceberg', cursive;
}

.question-timer {

	width:5%;
	padding-bottom: 1vh;
	text-align: center;
	font-size: 2em;
	border-radius: 20px;
}

.question {
	
	padding-top: 1vh;
	padding-bottom: 1vh;
	text-align: left;
	font-size: 2vw;

}

#startButton {

	margin-left: 30vw;
	margin-top: 10vw;

}

.playAgain{

    font-size: 3vh;

}


.correct, .incorrect {

	animation-name: spin;
    animation-duration: 1000ms;
    animation-iteration-count: 2000ms;
    animation-direction: linear;

}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/*
@keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}*/